<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<section th:each="addressBook: ${allAddressBooks}">
    <h2>Book id: <th:block th:utext="${addressBook.getId()}"/></h2>
    <table border="2">
        <thead>
        <tr>
            <td>Buddy</td>
            <td>Buddy Name</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="buddy: ${addressBook.getBuddies()}">
            <td th:text="${buddy.getId()}" />
            <td th:text="${buddy.getName()}" />
        </tr>
        </tbody>

    </table>
</section>

<table>
    <tbody>
    <tr>
        <br>
        <br>
        <h3>Address Book - Add a New Buddy</h3>
        <br>
        <form action="#" th:action="@{/addressBook-add}" th:object="${newBuddy}" method="post">
            Name: <input type="text" id="name" th:field="*{name}"> <br>
            <br>
            Phone Number: <input type="text" id="phoneNumber" th:field="*{phone_num}"> <br>
            <br>
            Home Address: <input type="text" id="homeAddress" th:field="*{address}"> <br>
            <br>
            Address Book ID :<input type="text" id="bookID" th:field="*{addressBook}"> <br>
            <br>
            <button type="submit">Add a New Buddy</button>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>
